<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NoNetReminderDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6303A79B1C2CF5AE00DDF186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6303A7B41C2CF5AE00DDF186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6303A7BF1C2CF5AE00DDF186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
